{% extends "index.html" %}
{% block content %}
<header id="home" class="header">

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
      <div class="container" style="color:aliceblue">
       
        <h2 class="tm-text-primary">Se cambió la contrseña!</h2>
  
          <br><br>
        <div class="fields" style="width: auto;margin: auto;">  

     <a class="btn btn-link" href="{% url 'login' %}">Volver a loguearse?</a>


    </div>
  </div> 
</header>
{% endblock %}