{% extends "index.html" %}
{% block content %}
<header id="home" class="header">

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
      <div class="container" style="color:aliceblue">
       
        <h2 class="tm-text-primary">Resetear la Contraseña</h2>
  
          <br>
        <div class="" style="width: auto;margin: auto;">  
  
          <br>
          <p style="color:aliceblue">Fijate que te mandamos mail, pudo haber entrado en spam.</p>
  
    </div>
  </div> 
</header>

{% endblock %}