{% extends "index.html" %}
{% block content %}
<header id="home" class="header">

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
      <div class="container" style="color:aliceblue">
       
        <h2 class="tm-text-primary">Resetear la Contraseña</h2>
  
          <br>
          <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <label>Email:</label>
            <div class="">{{ form.email }}</div>       
            <br><br>     
            <input type="submit" class="btn btn-info btn-lg" value="Resetear Contraseña" />
      </form>
  
        </div>
  </div> 
</header>
{% endblock %}