{% extends "index.html" %}

{% block content %}

<header id="home" class="header">

    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
        <div class="container" style="color:aliceblue">
         
          <h2 class="tm-text-primary">Resetear la Contraseña</h2>
    
            <br>
          {% if validlink %}
          <div class="mensaje_cc" style="position:inherit;">
            Por favor pone (y confirma) tu nueva contraseña.
          </div>
          <br><br>
          <form action="" method="post">
              <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
              </div>
              <table>
                  <tr>
                      <td>{{ form.new_password1.errors }}
                          <label for="id_new_password1">Nueva contraseña:</label></td>
                      <td>{{ form.new_password1 }}</td>
                  </tr>
                  
                  <tr>
                      <td>{{ form.new_password2.errors }}
                          <label for="id_new_password2">Confirmar contraseña:</label></td>
                      <td>{{ form.new_password2 }}</td>
                  </tr>
                  
                  <tr>
                      <td></td>
                      <td><input type="submit" class="btn btn-dark" value="Cambiar mi contraseña" /></td>
                  </tr>
              </table>
          </form>
      {% else %}
      <div class="mensaje_cc" style="position:inherit;">
          <h1>Reseteo de contraseña falló.</h1>
          <p>Hubo un error con el link, posiblemente por que ya fue usado. Por favor pedi un nuevo link.</p>
        </div>
          {% endif %}
  
        </div>
    </div> 
  </header>
   

{% endblock %}